<h1><%= @location.name %></h1>
<%= link_to "Edit Location", edit_location_path(@location), class: "btn btn-primary"  %>
<h5><%= "lat: #{@location.latitude}, long: #{@location.longitude}" %></h5>
<p>More information about the mountain/location page to be included later</p>
